* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: 100%;
  color: #fff;
  background: url(/image/BackLines_Mainscreen.png), url(/image/GraphicLines_mainscreen.png) no-repeat #16191C;
  font-family: Montserrat;
  font-size: 16px;
}

a {
  color: #fff;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  background: var(--BlockTitles, linear-gradient(123deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%));
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-number {
  padding: 0;
  border: 0;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.send-btn {
  font-family: Montserrat;
  padding: 12px 30px;
  color: #fff;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEBC59), color-stop(91.15%, #F19C5E));
  background: linear-gradient(180deg, #FEBC59 0%, #F19C5E 91.15%);
  font-size: 18px;
  -webkit-box-shadow: -1px 1px 1px 0px #DD782F;
          box-shadow: -1px 1px 1px 0px #DD782F;
  letter-spacing: 0.5;
}
.send-btn:hover {
  cursor: pointer;
}
.send-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.regist-form {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.regist-form__container {
  border-radius: 15px;
  background: var(--BlockTitles, linear-gradient(123deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%));
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 80px 257px;
  max-width: 1282px;
}
.regist-form__title {
  text-align: center;
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 94px;
}
.regist-form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 30px 30px;
}
.regist-form__btn {
  margin-top: 54px;
}
.regist-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 39px;
  border-radius: 10px;
}
.regist-form__warning {
  color: #9C9C9C;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.regist-form__show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.furniture-making__container {
  padding: 50px 15px 150px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.furniture-making__logo {
  position: relative;
  z-index: 99;
  text-align: center;
  height: 188px;
  margin-bottom: 150px;
}
.furniture-making__logo img {
  max-width: 100%;
  height: 100%;
}
.furniture-making__middle-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-page__main-side {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px 0;
  max-width: 550px;
}
.middle-page__furniture-type {
  position: relative;
  background-color: #d3d3d3;
}
.middle-page__furniture-type img {
  border-radius: 20%;
  top: -500px;
  right: -150px;
  position: absolute;
}

.main-side__title {
  font-family: Montserrat;
  font-weight: 500;
  line-height: 55px;
  font-size: 38px;
}
.main-side__sub-title {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
}
.main-side__cfg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.main-side__cfg svg {
  position: absolute;
  top: 40px;
  left: 150px;
}
.main-side__btn {
  font-family: Montserrat;
  padding: 12px 30px;
  color: #fff;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEBC59), color-stop(91.15%, #F19C5E));
  background: linear-gradient(180deg, #FEBC59 0%, #F19C5E 91.15%);
  font-size: 18px;
  -webkit-box-shadow: -1px 1px 1px 0px #DD782F;
          box-shadow: -1px 1px 1px 0px #DD782F;
  letter-spacing: 0.5;
}
.main-side__btn:hover {
  cursor: pointer;
}
.main-side__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.advantages {
  background: url(image/advantage-background.png) lightgray 50%/cover no-repeat;
  position: relative;
}
.advantages::after {
  content: "";
  background: url(image/black-background.jpg) lightgray 50%/cover no-repeat;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}
.advantages__container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__manager-block {
  position: relative;
}
.advantages__manager-pf {
  width: 706px;
}
.advantages__manager-pf img {
  height: 900px;
  max-width: 100%;
}
.advantages__contact-button {
  position: absolute;
  bottom: 130px;
  right: 160px;
  padding: 26px 22px;
  border: 1px solid rgba(255, 255, 255, 0.89);
  background: linear-gradient(123deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
}
.advantages__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px 0;
}
.advantages__main-block--title {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 400;
  line-height: normal;
}
.advantages__main-block--sub-title {
  position: relative;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 180% */
  color: var(--CommonColor, #FDBB59);
  padding-top: 22px;
}
.advantages__main-block--sub-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 2px;
  background: var(--CommonColor, #FDBB59);
}
.advantages__main-block--description-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
.advantages__main-block--meeting-btn {
  padding: 35px 67px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEBC59), color-stop(91.15%, #F19C5E));
  background: linear-gradient(180deg, #FEBC59 0%, #F19C5E 91.15%);
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  color: #FFF;
}

.product-materials__container {
  padding: 150px 15px;
}
.product-materials__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px; /* 128.571% */
  color: #FFF;
  margin-bottom: 80px;
}
.product-materials__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(123deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px 0px 0px 10px;
}
.product-materials__characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-materials__characteristics--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
}
.product-materials__material {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.product-materials__material--item {
  height: 220px;
  width: 224px;
  position: relative;
}
.product-materials__material--photo {
  display: block;
  height: 220px;
  max-width: 100%;
}
.product-materials__material--text {
  position: absolute;
  z-index: 5;
  width: 100%;
  bottom: -20px;
  left: 0px;
  text-align: center;
  padding: 18px 60px;
  border: 1px solid var(--LineGradient, rgba(250, 177, 90, 0));
  background: #0D1012;
  border-radius: 6px;
}

.our-respons__container {
  padding: 150px 15px;
}
.our-respons__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 500;
  color: #FFF;
  line-height: 54px; /* 128.571% */
  margin-bottom: 80px;
}
.our-respons__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 50px;
  margin-bottom: 100px;
}
.our-respons__delivery--block-image {
  height: 355px;
  width: 920px;
  position: relative;
  border-radius: 10px;
}
.our-respons__delivery--image {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 355px;
  max-width: 100%;
}
.our-respons__delivery--block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}
.our-respons__delivery--title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 300;
  color: #FFF;
  padding-left: 40px;
  margin-bottom: 35px;
  position: relative;
}
.our-respons__delivery--title::before {
  content: "";
  position: absolute;
  background-color: #FBB659;
  bottom: 17px;
  left: 0;
  height: 2px;
  width: 24px;
}
.our-respons__delivery--text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px; /* 170% */
  color: #FFF;
}
.our-respons__guarantee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.our-respons__guarantee--block-image {
  width: 920px;
  height: 355px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.our-respons__guarantee--block-image:hover {
  cursor: pointer;
}
.our-respons__guarantee--image {
  position: absolute;
  top: 0;
  right: 0;
  height: 355px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  z-index: 5;
}
.our-respons__guarantee--block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}
.our-respons__guarantee--title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 300;
  color: #FFF;
  padding-left: 40px;
  margin-bottom: 35px;
  position: relative;
}
.our-respons__guarantee--title::before {
  content: "";
  position: absolute;
  background-color: #FBB659;
  bottom: 17px;
  left: 0;
  height: 2px;
  width: 24px;
}
.our-respons__guarantee--text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px; /* 170% */
  color: #FFF;
}

.partners__container {
  padding: 150px 15px;
}
.partners__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 500;
  line-height: 54px; /* 128.571% */
  color: #FFF;
  margin-bottom: 110px;
}
.partners__top-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.partners__top-partners--item {
  position: relative;
  padding-right: 70px;
}
.partners__top-partners--item::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 0;
  width: 2px;
  height: 52px;
  background: #FDBB59;
}

.default-swiper-block--swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.default-swiper-block--block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px 0;
  min-width: 40%;
}
.default-swiper-block--title {
  position: relative;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 300;
  padding-left: 45px;
  color: #FFF;
}
.default-swiper-block--title::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 24px;
  height: 2px;
  background: #FBB659;
}
.default-swiper-block--text {
  max-width: 420px;
  color: #FFF;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 32px; /* 160% */
  font-size: 20px;
}

.swiper-container {
  margin: 0;
  padding: 0;
  max-width: none;
}

.swiper-master-btn-next,
.swiper-master-btn-prev {
  visibility: hidden;
  background-color: #d9d9d9;
}

.default-swiper_settings {
  margin: 60px 15px;
}
.default-swiper_settings--wrapper {
  margin-bottom: 50px;
}
.default-swiper_settings--slide {
  margin-right: 20px;
  position: relative;
  z-index: 9;
}
.default-swiper_settings--image-container {
  width: 270px;
}
.default-swiper_settings--slide--image {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  max-width: 100%;
}
.default-swiper_settings--slide--image:hover {
  cursor: pointer;
  opacity: 0.7;
}
.default-swiper_settings--block-text {
  position: absolute;
  max-width: 210px;
  gap: 5px 0;
  top: 283px;
  left: 0px;
  border-radius: 0px 10px;
  background: linear-gradient(123deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 16px;
}
.default-swiper_settings--text {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.default-swiper_settings--slide--sub-text {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
}

.construction__container {
  padding: 150px 15px;
}
.construction__title {
  color: #FFF;
  text-align: center;
  font-size: 42px;
  font-family: Montserrat;
}

.construction__master--block-text {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: end;
}

.construction__environment--block-text {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: start;
}

.swiper-environment-btn-next,
.swiper-environment-btn-prev {
  visibility: hidden;
  background-color: #d9d9d9;
}

.departments__title {
  position: relative;
  color: #FFF;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 60% */
  margin: 80px 0 40px 40px;
}
.departments__title::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -37px;
  width: 24px;
  height: 2px;
  background-color: #FBB659;
}
.departments__groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.groups__item {
  padding: 23px 40px;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid var(--BlockTitles, rgba(252, 254, 255, 0.3));
  background: var(--OneBlack, #1C1F21);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.groups__item:hover {
  color: #16191C;
  background: linear-gradient(160deg, #FDBB59 18.04%, #F4A939 94.59%);
}
.groups__item-link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.groups__item-link:hover {
  color: #16191C;
}

.done-ideas__container {
  padding: 150px 0px 0 0;
}
.done-ideas__title {
  text-align: center;
}

.experience__container {
  padding: 150px 15px;
}
.experience__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 90px;
}
.experience__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 0;
}
.experience__catalog--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px 0;
  background: var(--OneBlack, #1C1F21);
  border-radius: 10px;
  min-width: 370px;
  min-height: 475px;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.experience__catalog--item svg {
  width: 88px;
  height: 88px;
  padding: 21px;
  border-radius: 10px;
  background: var(--CommonColor, #FDBB59);
}
.experience__catalog--item-title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  color: var(--CommonColor, #FDBB59);
}
.experience__catalog--item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px 0;
}
.experience__catalog--item-list_catalog {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
}

.experience__catalog--item:hover {
  cursor: pointer;
  background: var(--Hover, linear-gradient(160deg, #FDBB59 18.04%, #F4A939 94.59%));
}
.experience__catalog--item:hover .experience__catalog--item-title,
.experience__catalog--item:hover .experience__catalog--item-list_catalog-link {
  color: #16191C;
}
.experience__catalog--item:hover svg {
  background: #1C1F21;
  -webkit-box-shadow: 4px 4px 10px 0px #B77718;
          box-shadow: 4px 4px 10px 0px #B77718;
}
.experience__catalog--item:hover svg path {
  fill: #FDBB59;
}
.experience__catalog--item:hover .experience__catalog--item-list_catalog-link:hover,
.experience__catalog--item:hover .experience__catalog--item-title:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #fff;
}

.scheme__container {
  padding: 150px 15px;
}
.scheme__title {
  font-size: 42px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 100px;
}
.scheme__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px 0;
}

.column__item--child-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 38px;
  border-radius: 10px;
  border: 1px solid var(--BlockTitles, rgba(252, 254, 255, 0.3));
  padding: 34px 48px;
}

.child-row--top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 130px;
}
.child-row--mid {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 100px;
  margin-left: 100px;
}
.child-row--below {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 100px;
  margin-left: 100px;
}
.child-row__item {
  background: var(--Hover, linear-gradient(160deg, #FDBB59 18.04%, #F4A939 94.59%));
  border-radius: 10px;
  color: #1C1F21;
  padding: 50px 26px 50px 32px;
}
.child-row__title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.child-row__text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.column__item--sub-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.column__item--sub-column--item {
  border-radius: 10px;
  border: 1px solid var(--BlockTitles, rgba(252, 254, 255, 0.3));
  background: linear-gradient(123deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 93px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.column__item--sub-column--title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}
.column__item--sub-column--text {
  max-width: 300px;
  text-align: center;
}
.column__item--sub-column--below {
  font-size: 42px;
  padding: 116px 130px;
}

.column__item--sub-column--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.column__item--sub-column--mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.column__item--sub-column--below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
}

.column__item--sub-column--below_title {
  font-size: 42px;
}

.footer-information__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 15px;
  border-top: 1px solid #2E2E2E;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-information--block_def {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px 0;
}
.footer-information--block_text--company-info {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}
.footer-information--block_link--company-info {
  color: var(--CommonColor, #FDBB59);
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: underline;
}
.footer-information--block_link {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.swiper-furniture {
  margin-bottom: 100px;
}
.swiper-furniture__info-text {
  padding-top: 200px;
  padding-bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.swiper-furniture__info-text-body {
  max-width: 390px;
  line-height: 34px;
  margin-right: 450px;
}

.swiper-furniture__wrapper {
  padding-bottom: 50px;
}

.swiper-furniture__slide {
  position: relative;
  margin: 0 60px;
}
.swiper-furniture__slide:first-child, .swiper-furniture__slide:last-child {
  padding: 0;
}

.swiper-el-button {
  position: absolute;
  top: 340px;
  right: 346px;
  text-align: center;
  padding: 19px 47px;
  max-width: 247px;
  border-radius: 10px;
  background: linear-gradient(123deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.89);
  color: #FFF;
  font-family: Montserrat;
  font-weight: 400;
}
.swiper-el-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.image-slide__image {
  height: 400px;
}
.image-slide__image img {
  display: block;
  height: 300px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.image-slide__image img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.active img {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.none {
  display: none;
}

.btn-prev,
.btn-next {
  visibility: hidden;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  border-radius: 50%;
  border: 1px solid #7A7A7A;
  background-color: #d9d9d9;
  -webkit-transition-property: background-color, border, scale;
  transition-property: background-color, border, scale;
}
.swiper-pagination-bullet:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.swiper-pagination-bullet:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact-info__container {
  padding: 150px 15px;
}
.contact-info__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact-info__main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-item__logo {
  width: 233px;
  height: 165px;
}
.main-item__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}
.main-item__logo-title {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px; /* 133.333% */
  max-width: 240px;
}
.main-item__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}
.main-item__contact--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px 0;
}
.main-item__contact--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
}
.main-item__contact--text {
  font-size: 24px;
  font-weight: 400;
}
.main-item__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px 0;
}
.main-item__about--link {
  font-size: 24px;
  font-weight: 400;
}

.main-item__contact--link:hover,
.main-item__about--link:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #fdbb59;
}