@import "./base/_common.scss";
@import "./base/_container.scss";
@import "./layout/_header.scss";
@import "./layout/_main.scss";
@import "./base/_button.scss";
@import "./layout/_regist-form.scss";
@import "./section/_furniture-making.scss";
@import "./section/_advantages.scss";
@import "./section/_product-materials.scss";
@import "./section/_our-response.scss";
@import "./section/_partners.scss";
@import "./section/_construction.scss";
@import "./section/_done-ideas.scss";
@import './section/_experience.scss';
@import './section/_scheme.scss';
@import './section/_contact-info.scss';

.none{
  display: none;
}

.btn-prev,
.btn-next{
  visibility: hidden;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition-duration: .25s;
  border-radius: 50%;
  border: 1px solid #7A7A7A;
  background-color: #d9d9d9;
  transition-property: background-color, border, scale;
  &:active{
    transform: scale(1.2);
  }  
  &:focus{
    transform: scale(1.2);
  }
}
